@model ElectronicDevice.DTO.AccountDTO
@{

}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tạo tài khoản để mua sắm thuận tiện hơn</h2>
                        <p>Trang chủ <span>></span> Tạo tài khoản</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/sign-up.png" alt="" width="250">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================login_part Area =================-->
<section class="login_part mt-3">
    <div class="container p-4 bg-white">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Bạn đã có tài khoản?</h2>
                        <p>Đăng nhập ngay để có thể mua sắp một cách thuận tiên hơn!</p>
                        <a href="@Url.Action("Index","Login")" class="btn_3">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Error
                            </div>
                        }
                        <h3>Tạo tài khoản mới</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form id="form_register" class="row contact_form" action="/Account/Register" method="post" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                   
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên đăng nhập" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 form-group p_star">
                                   
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 form-group p_star">
                                   
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Mật khẩu" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12 form-group p_star">
                                    
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Nhập lại mật khẩu" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn_3">
                                        Đăng ký
                                    </button>
                                    <a class="lost_pass" href="@Url.Action("Index", "Login")">Tôi đã có tài khoản!</a>
                                </div>
                            </form>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
@section script {
    @Scripts.Render("~/bundles/jqueryval")
}
