@model ElectronicDevice.Models.Product

@{
    ViewBag.Title = ViewBag.MyTitle;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/Admin/Assets/ckeditor/ckeditor.js"></script>
}

<div class="d-flex">
    <a href="@Url.Action("Index","Product")"><i class="fa fa-arrow-left"></i></a> &nbsp
    <h3 class="title-5 m-b-35">@ViewBag.MyTitle</h3>
</div>
<div class="">
    <div class="bg-light p-4">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                    <div class="form-group">
                        <label>Tên Sản Phẩm</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Tủ Lạnh" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="Name" id="Name" placeholder="Tủ Lạnh">*@
                    </div>
                    <div class="form-group">
                        <label>Danh Mục</label>
                        @Html.DropDownList("Category", null, htmlAttributes: new { @class = "form-control" })

                    </div>

                    <div class="form-group ">
                        @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@

                        @{
                            string Img = "~/wwwroot/img/my-image/no-img.jpg";
                            if (ViewBag.MyAction == "Update")
                            {
                                Img = "~/wwwroot/imageUpload/" + Model.Image;
                                <input hidden id="imagename" name="imagename"  value="@Model.Image"/>
                            }

                        }
                        <label style="font-size:13px ">Hình Ảnh</label>
                        <img src="@Url.Content(Img)" id="preview" onclick="$('#inputFile').click()" class="img-thumbnail"
                             style=" max-width: 180px; max-height: 200px;">

                        <br />
                        <label for="inputFile" class="au-input au-input--full font-weight-bold text-center"
                               style="background-color: rgb(41, 167, 248);"><span style="color:white">Chọn Ảnh</span></label>
                        <input type="file" id="inputFile" path="inputFile"
                               name="Image" class="form-control" style="display:none" accept="image/*" />
                    </div>


                    <div class="form-group">
                        <label>Đơn Giá</label>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @Placeholder = "đ" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="Price" id="Price" placeholder="0&#8363;">*@
                    </div>

                    <div class="form-group">
                        <label>Model</label>
                        @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", @Placeholder = "A" } })
                        @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="Model" id="Model" placeholder="A">*@
                    </div>

                    <div class="form-group">
                        <label>Số Lượng</label>
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @Placeholder = "100" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="Amount" id="Amount" placeholder="100">*@
                    </div>

                    <div class="form-group">
                        <label>Bảo Hành</label>
                        @Html.EditorFor(model => model.Guarantee, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Tháng" } })
                        @Html.ValidationMessageFor(model => model.Guarantee, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="Guarantee" id="Guarantee" placeholder="12">*@
                    </div>

                    <div class="form-group">
                        <label>Xuất Xứ</label>
                        @Html.EditorFor(model => model.Origin, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Việt Nam" } })
                        @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="Origin" id="Origin" placeholder="Việt Nam">*@
                    </div>

                    <div class="form-group">
                        <label>Giảm Giá</label>
                        @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control", @Placeholder = "%" } })
                        @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                        @*<input class="au-input au-input--full" type="text" name="discount" id="discount" placeholder="0&#37;">*@
                    </div>

                    <div class="form-group">
                        <label>Mô Tả Ngắn</label><br />
                        @Html.TextAreaFor(model => model.ShortDescription, 
                        new { @class = "form-control", @Placeholder = "Mô tả ngắn...",rows = 5 } )
                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                        @*<textarea name="ShortDescription" id="ShortDescription" rows="3"
                                  placeholder="Mô tả ngắn..." class="form-control"></textarea>*@
                    </div>

                    <div class="form-group">
                        <label>Chi Tiết</label>
                        @Html.TextAreaFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Thông tin chi tiết về sản phẩm...." } })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                        @*<textarea name="Detail" id="Detail" rows="9"
                                  placeholder="Thông tin chi tiết về sản phẩm...." class="form-control"></textarea>*@
                    </div>

                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <input type="radio" id="show" name="Status" checked />
                        <label for="show">Hiển thị</label>
                        &ensp;
                        <input type="radio" id="hide" name="Status" />
                        <label for="hide"> Ẩn</label>
                    </div>
                </form>
                @Html.EditorFor(model => model.ID_Product, new { htmlAttributes = new { @class = "form-control hide"}  })

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="clickSaveProduct()">Lưu</button>
            </div>

            
        </div>
    </div>
</div>
@section Script{
<script>
    $('#ID_Product').hide();
    var detail = "";
    $(document).ready(function () {
        detail = CKEDITOR.replace('Detail');
    });

    function clickSaveProduct() {
        var data = {};
        data["Name"] = $('#Name').val();
        data["ID_Category"] = Number($('#Category').val());
        data["Price"] = Number($('#Price').val());
        data["Model"] = $('#Model').val();
        data["Amount"] = Number($('#Amount').val());
        data["Guarantee"] = Number($('#Guarantee').val());
        data["Origin"] = $('#Origin').val();
        data["Discount"] = Number($('#Discount').val());
        data["ShortDescription"] = $('#ShortDescription').val();
        data["Detail"] = detail.getData();
        data["Status"] = $("#show").is(":checked") ? true : false;
        data["ID_Product"] = Number($('#ID_Product').val());
        var file = $('#inputFile')[0].files[0];
        if (file != undefined) {
            var reader = new FileReader();
            reader.onload = function (e) {
                data["Base64"] = e.target.result;
                data["Image"] = file.name;
                if (data["ID_Product"] == 0) {
                    addData(data);
                } else {
                    editData(data);
                }
            };
            reader.readAsDataURL(file);
        }
        else {
            data["Image"] = $('#imagename').val();
            if (data["ID_Product"] == 0) {
                addData(data);
            } else {
                editData(data);
            }
        }
    }
    function addData(data) {
        $.ajax({
            url: '/Admin/Product/AddProducts',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: (result) => {
                alert("Thêm sản phẩm thành công.");
                window.location = "/Admin/Product";
            },
            error: (error) => {
                alert("Thêm sản phẩm thất bại!");
            }
        });
    }
    function editData(data) {
        $.ajax({
            url: '/Admin/Product/AddProducts',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: (result) => {
                alert("Cập nhật sản phẩm thành công.");
                window.location = "/Admin/Product";
            },
            error: (error) => {
                @*alert("Cập nhật sản phẩm thất bại!");*@
                alert("Cập nhật sản phẩm thành công.");
                window.location = "/Admin/Product";
            }
        });
    }

</script>
}