@model PagedList.IPagedList<ElectronicDevice.Models.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/Admin/Assets/ckeditor/ckeditor.js"></script>
}
@using System.Globalization;
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

<!-- DATA TABLE -->
<h3 class="title-5 m-b-35">danh sách sản phẩm</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">Danh mục</option>
                <option value="">Điều hòa hiệt độ</option>
                <option value="">Tivi, Loa - Âm Thanh</option>
                <option value="">Máy giặt</option>
                <option value="">Tủ lạnh</option>
                <option value="">Quạt máy</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="status">
                <option selected="selected">Trạng Thái</option>
                <option value="">Hiển Thị</option>
                <option value="">Ẩn</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>Lọc
        </button>
    </div>
    <div class="table-data__tool-right">
        @if (ViewBag.CREATE)
        {
            <a class="au-btn au-btn-icon au-btn--green au-btn--small"
               href="@Url.Action("Edit","Product")">
                <i class="fas fa-plus"></i>Thêm mới
            </a>
        }
        else
        {
            <a class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="clickPer()">
                <i class="fas fa-plus"></i>Thêm mới
            </a>
        }

    </div>
</div>
<div class="table-responsive table-data">
    <table class="table table-data2">
        <thead>
            <tr>
                @*<th>#</th>
                    <th>ID</th>*@
                <th>Ảnh</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{var index = 1; }
            @foreach (var item in Model)
            {
                <tr class="tr-shadow" id="@item.ID_Product">
                    @*<td class="number_order">@(index + (Model.PageNumber - 1) * 8)</td>
                        <td>
                            <span class="block-name">@item.ID_Product</span>
                        </td>*@
                    <td class="block-image">
                        <img src="@Url.Content("~/wwwroot/imageUpload/" + item.Image)" alt="Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>
                        <span class="block-name-product">
                            @item.Name
                        </span>
                    </td>
                    <td>
                        <span class="text-primary font-weight-bold"> @String.Format(cul, "{0:N0}", item.Price)&#8363;</span>
                    </td>
                    <td>
                        <span class="text-primary font-weight-bold">@item.Discount&#37;</span>
                    </td>
                    <td>
                        <span class="status--process">
                            @if (item.Status)
                            {
                                <span>Hiển thị</span>
                            }
                            else
                            {
                                <span>Ẩn</span>
                            }
                        </span>
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a class="item" title="Xóa" href="@Url.Action("ProductDetail","Product",new { id=item.ID_Product})">
                                <i class="fas fa-eye"></i>
                            </a>
                            @if (ViewBag.EDIT)
                            {
                                <a class="item" title="Sửa thông tin sản phẩm" href="@Url.Action("Edit", "Product", new {ProductId=item.ID_Product })">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            }
                            else
                            {
                                <a class="item" title="Sửa thông tin sản phẩm" onclick="clickPer()">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            }
                            @if (ViewBag.DELETE)
                            {
                                <button class="item" title="Xóa sản phẩm" onclick="deleteProduct(@item.ID_Product)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            }
                            else
                            {
                                <button class="item" title="Xóa sản phẩm" onclick="clickPer()">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            }


                        </div>
                    </td>
                </tr>
                <tr class="spacer" id="@item.ID_Product"></tr>
                index++;
            }
        </tbody>
    </table>

</div>

<!--Notification-->
<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>



<br />
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

@*@section modal{
        @Html.Partial("Create");
    }*@
@section Script {
    <script>
        const clickPer = () => {
            showAlertMessage('Bạn không có quyền truy cập tính năng này!', false);
        }

        function deleteProduct(id) {

            let checkDelete = confirm("Xác nhận xóa sản phẩm này!");
            if (checkDelete == false)
                return;

            $.ajax({
                url: '/Admin/Product/DeleteProduct',
                data: { id: id },
                type: "GET",
                success: (result) => {
                    //alert("Xóa sản phẩm thành công.");
                    showAlertMessage('Xóa sản phẩm thành công!', true);
                    $('#' + id).remove();
                    $('#spacer-' + id).remove();
                },
                error: (error) => {
                    //alert("Xóa sản phẩm thất bại!");
                    showAlertMessage('Xóa sản phẩm thất bại!',false);
                }
            });
        }

        const showAlertMessage = (message, messageState) => {
            if (messageState) {
                $('#alert_message').css({ "background": "#C5F3D7", "border-left": "8px solid #2BD971" });
                $("#icon-alert-message").html('<i class="fas fa-check-circle"></i>');
                $("#icon-alert-message").find('i').css({ "color": "#2BD971" });
                $(".msg").css({ "color": "#24AD5F" });
                $(".close-btn-alert").css({ "background": "#2BD971", "color": "#24AD5F" });
                $(".close-btn-alert").find('.fas').css({ "color": "#24AD5F" });
                $(".close-btn-alert").hover(function (e) {
                    $(this).css("background-color", e.type === "mouseenter" ? "#38F5A3" : "#2BD971")
                })
            } else {
                $('#alert_message').css({ "background": "#FFE1E3", "border-left": "8px solid #FF4456" });
                $("#icon-alert-message").html('<i class="fas fa-exclamation-circle"></i>');
                $("#icon-alert-message").find('i').css({ "color": "#FE4950" });
                $(".msg").css({ "color": "#F694A9" });
                $(".close-btn-alert").css({ "background": "#FF9CA4", "color": "#FD4653" });
                $(".close-btn-alert").find('.fas').css({ "color": "#FD4653" });
                $(".close-btn-alert").hover(function (e) {
                    $(this).css("background-color", e.type === "mouseenter" ? "#FFBDC2" : "#FF9CA4")
                })
            }

            $('.msg').text(message);
            $('.alert').addClass("show");
            $('.alert').removeClass("hide");
            $('.alert').addClass("showAlert");
            setTimeout(() => {
                $('.alert').removeClass("show");
                $('.alert').addClass("hide");
            }, 3000);
        };
    </script>
}

