@model PagedList.IPagedList<ElectronicDevice.Models.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <script src="~/Areas/Admin/Assets/ckeditor/ckeditor.js"></script>
}

<!-- DATA TABLE -->
<h3 class="title-5 m-b-35">danh sách sản phẩm</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">Danh mục</option>
                <option value="">Điều hòa hiệt độ</option>
                <option value="">Tivi, Loa - Âm Thanh</option>
                <option value="">Máy giặt</option>
                <option value="">Tủ lạnh</option>
                <option value="">Quạt máy</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="status">
                <option selected="selected">Trạng Thái</option>
                <option value="">Hiển Thị</option>
                <option value="">Ẩn</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>Lọc
        </button>
    </div>
    <div class="table-data__tool-right">
        @*<button class="au-btn au-btn-icon au-btn--green au-btn--small"
                data-toggle="modal" data-target="#modal-create">
            <i class="fas fa-plus"></i>Thêm mới
        </button>*@
        <a class="au-btn au-btn-icon au-btn--green au-btn--small"
           href="@Url.Action("Edit","Product")">
            <i class="fas fa-plus"></i>Thêm mới
        </a>
    </div>
</div>
<div class="table-responsive table-data">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Ảnh</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{var index = 1; }
            @foreach (var item in Model)
            {
                <tr class="tr-shadow" id="@item.ID_Product">
                    <td class="number_order">@(index + (Model.PageNumber - 1) * 8)</td>
                    <td>
                        <span class="block-name">@item.ID_Product</span>
                    </td>
                    <td class="block-image">
                        <img src="@Url.Content("~/wwwroot/imageUpload/" + item.Image)" alt="Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>
                        <span class="block-name-product">
                            @item.Name
                        </span>
                    </td>
                    <td>
                        <span class="text-primary font-weight-bold">@item.Price&#8363;</span>
                    </td>
                    <td>
                        <span class="text-primary font-weight-bold">@item.Discount&#37;</span>
                    </td>
                    <td>
                        <span class="status--process">
                            @if (item.Status)
                            {
                                <span>Hiển thị</span>
                            }
                            else
                            {
                                <span>Ẩn</span>
                            }
                        </span>
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a class="item" title="Sửa" href="@Url.Action("Edit", "Product", new {ProductId=item.ID_Product })">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <button class="item" title="Xóa" onclick="deleteProduct(@item.ID_Product)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="spacer" id="@item.ID_Product"></tr>
                index++;
            }


        </tbody>
    </table>

</div>
<!-- END DATA TABLE -->
<br />
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@*@section modal{
    @Html.Partial("Create");
}*@
@section Script {
    <script>
        function deleteProduct(id) {

            let checkDelete = confirm("Xác nhận xóa sản phẩm này!");
            if (checkDelete == false)
                return;

            $.ajax({
                url: '/Admin/Product/DeleteProduct',
                data: { id: id },
                type: "GET",
                success: (result) => {
                    alert("Xóa sản phẩm thành công.");
                    $('#' + id).remove();
                    $('#spacer-' + id).remove();
                },
                error: (error) => {
                    alert("Xóa sản phẩm thất bại!");
                }
            });
        }
    </script>
}

