@model ElectronicDevice.Models.Product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">
    <a href="@Url.Action("Index","Product")"><i class="fa fa-arrow-left"></i></a> &nbsp
    <h3 class="title-5 m-b-35">Chi tiết sản phẩm</h3>
</div>
<div class="">
    <div class="bg-light p-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Guarantee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guarantee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Origin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Origin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="@Url.Content("~/wwwroot/imageUpload/"+Model.Image)" width="300" />
                @*@Html.DisplayFor(model => model.Image)*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @{
                    if (Model.Status)
                    {


                        <p>Hiển thị</p>
                    }else
                    {
                        <p>Ẩn</p>
                    }
                }
               @* @Html.DisplayFor(model => model.Status)*@
            <!--</dd>-->

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.Detail)
            </dt>

            <dd>
                <hr />
                @*@Html.DisplayFor(model => model.Detail)*@
                @Html.Raw(Model.Detail)
            </dd>



        </dl>
    </div>
</div>


