<section class="feature_part mt-3">
    <div class="container bg-white p-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Danh mục sản phẩm</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/-9ZWE58.jpg" alt="">
                    </div>

                    <h5 class=" text-center">Điều hòa nhiệt độ</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/-CInqWS.jpg" alt="">
                    </div>

                    <h5 class=" text-center">Tivi, Loa - Âm thanh</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/may-say-quan-ao-co-hoi-nuoc-electrolux-8kg-eds805kqwa-9Iu1Kd.png"
                             alt="">
                    </div>

                    <h5 class=" text-center">Máy giặt, Máy sấy quần áo</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/tu-dong-lg-inverter-165l-gnf304wb-a564Rt.jpg"
                             alt="">
                    </div>

                    <h5 class=" text-center">Tủ lạnh, Tủ đông, Tủ mát</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/quat-cay-cao-cap-coex-cf7115-MxIz14.png" alt="">
                    </div>

                    <h5 class=" text-center">Quạt mát các loại</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/man-hinh-dell-u2520d-250inch-2k-ultrasharp-ips-1hdmi-2dp-1usb_c-2usb-pTcn3E.jpg"
                             alt="">
                    </div>

                    <h5 class=" text-center">PC, Màn hình, Máy in</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/-ly36ua.png" alt="">
                    </div>

                    <h5 class=" text-center">Kỹ thuật số, Phụ kiện</h5>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3 border p-2">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("Index","Product")">
                    <div class=" text-center">
                        <img class="rounded-circle img-category-product"
                             src="https://cdn.mediamart.vn/Product/-8zUD9g.jpg" alt="">
                    </div>

                    <h5 class=" text-center">Smartphone, Máy tính bảng</h5>
                </a>
            </div>

        </div>
        <!-- <div class="row align-items-center justify-content-between">


            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <h3>Điều hòa nhiệt độ</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_1.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text">
                    <h3>Tivi, Loa - Âm thanh</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_2.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text">
                    <h3>Máy giặt, Máy sấy quần áo</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_3.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <h3>Tủ lạnh, Tủ đông, Tủ mát</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_4.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <h3>Quạt mát các loại</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="img/feature/feature_4.png" alt="">
                </div>
            </div>
        </div> -->
    </div>
</section>
