@model IEnumerable<ElectronicDevice.Models.Category>
@{
    var listIdCategory = "0";
    var totalAllProduct = 0;
    foreach (var item in Model)
    {
        listIdCategory += ";" + item.ID_Category;
        totalAllProduct += item.Products.Count();
    }

}

<div class="left_sidebar_area">
    <aside class="left_widgets p_filter_widgets">
        <div class="l_w_title bg-warning">
            <h3>Danh mục sản phẩm</h3>
        </div>
        <div class="widgets_inner" style="padding-right:5px;padding-left:5px">
            <table class="table-categoty">
                <tr style="height:50px" class="rounded-5 row-left-sidebar" id="">
                    <td width="50px">
                        <img src="" alt="" />
                        <img src="~/wwwroot/img/icon/all-logo-8A29A0C132-seeklogo.com.png" style="width: 20px; height: 20px; padding: 2px;" />
                    </td>
                    <td>Tất cả các sản phẩm</td>
                    <td><span>(@totalAllProduct)</span></td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="height:50px" class="rounded-5 row-left-sidebar" id="@item.ID_Category">
                        <td width="50px"><img src="@Url.Content("~/wwwroot/imageUpload/"+item.Icon)" alt="@item.Name" style="width: 20px;height: 20px;" /></td>
                        <td>@item.Name</td>
                        <td><span>(@item.Products.Count())</span></td>
                    </tr>
                }
            </table>
        </div>
    </aside>
</div>