<section class="product_list mt-3">
    <div class="container bg-white p-4">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class=" text-center">
                    <h2>Sản phẩm mới</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img src="https://cdn.mediamart.vn/Product/thumb_-9ZWE58.jpg" alt=""
                                         class="img-product">
                                    <div class="single_product_text">
                                        <h4>Điều Hòa Gree 1 Chiều 9000BTU GWC09KB-K6N0C4</h4>
                                        <h3>5.290.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_dieu-hoa-daikin-1-chieu-inverter-8500btu-ftka25vmvmv-d94QaV.png"
                                         alt="">
                                    <div class="single_product_text">
                                        <h4>Điều Hòa Daikin 1 Chiều Inverter 8.500BTU FTKA25VMVMV</h4>
                                        <h3>10.590.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_dieu-hoa-1-chieu-inverter-9000btu-panasonic-cspu9wkh8m-N2V8VF.png"
                                         alt="">
                                    <div class="single_product_text">
                                        <h4>Điều Hòa 1 Chiều Inverter 9000BTU Panasonic CS-PU9WKH-8M</h4>
                                        <h3>10.590.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_dieu-hoa-1-chieu-inverter-12000btu-panasonic-cspu12wkh8m-7eBUB5.png"
                                         alt="">
                                    <div class="single_product_text">
                                        <h4>Điều Hòa 1 Chiều Inverter 12000BTU Panasonic CS-</h4>
                                        <h3>12.890.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_-QKs992.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Tủ Lạnh Sharp SJ-X281E-SL - 271 Lít (Bạc Thép Không Gỉ)</h4>
                                        <h3>6.090.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_-p3P4JB.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Tủ Lạnh Panasonic Inverter 255L NR-BV280QSVN</h4>
                                        <h3>9.490.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_-mWd8Mn.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quạt Điều Hòa Coex CA-7113</h4>
                                        <h3>3.990.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item" onclick="detealProduct('@Url.Action("Detail","Product")')">
                                    <img class="img-product"
                                         src="https://cdn.mediamart.vn/Product/thumb_quat-cay-cao-cap-coex-cf7115-MxIz14.png"
                                         alt="">
                                    <div class="single_product_text">
                                        <h4>Quạt Cây Cao Cấp 5 Cánh Coex CF-7315</h4>
                                        <h3>890.000đ</h3>
                                        <a href="" class="my-cart border rounded-circle"
                                           title="Thêm sản phẩm vào giỏ">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_1.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_2.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_3.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_4.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_5.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_6.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_7.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="img/product/product_8.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
