@model IEnumerable<ElectronicDevice.Models.Cart>
@{
    ViewBag.Title = "Giỏ hàng";
}

@using System.Globalization;
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}


<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Giỏ hàng</h2>
                        <p>Trang chủ<span> > </span>Giỏ hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/cart.png" alt="" width="350">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Cart Area =================-->
<section class="cart_area mt-3">
    <div class="container bg-white p-4">
        <div class="cart_inner">
            <div class="table-responsive" id="content-cart-page">
                @if (Model.Count() <= 0)
                {

                    <div style="text-align:center">
                        <img src="~/wwwroot/imageUpload/shopping_cart.png" alt="Chưa có sản phẩm nào trong giỏ!" style="width:200px;height:auto" />
                        <p style="margin: 15px 0px 30px; ">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
                        <a class="btn_1" href="@Url.Action("Index","Product")">Tiếp tục mua hàng</a>
                    </div>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" id="selectAll" onclick="selectAllRecord()"></th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col" width="150px">Thành tiền</th>
                                <th scope="col" data-toggle="tooltip" title="Xóa các mục đã chọn!" id="btn-delete-selected" onclick="deleteRecordSelected()"><i class="fas fa-trash-alt"></i></th>
                            </tr>
                        </thead>
                        <tbody id="cart-container">
                            @foreach (var item in Model)
                            {
                                <tr class="data-table" id="@item.ID_Product" onload="totalMoney(@item.ID_Product)">
                                    <td scope="col"><input type="checkbox" onclick="changeStatus(@item.ID_Product)"></td>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="@Url.Content("~/wwwroot/imageUpload/"+item.Product.Image)" alt="" width="150" />
                                            </div>
                                            <div class="media-body">
                                                <p>@item.Product.Name</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 id="price">
                                            <!--Price of product item-->
                                            @String.Format(cul, "{0:N0}", item.Product.Price)&#8363;
                                        </h5>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div class="up-down decrease" onclick="alterProductOrder('decrease', @item.Product.Amount,@item.ID_Product,@item.ID_Account)">
                                                <i class="fas fa-minus"></i>
                                            </div>
                                            <div class="number_product_order">
                                                <input class="text-center" id="number_order" onkeypress="return isNumberKey(event)" onfocusout="focusOut(@item.ID_Product)" onfocus="getOldValue(@item.ID_Product)" onkeyup="checkValid(@item.Product.Amount,@item.ID_Product,@item.ID_Account)" onchange="totalMoney(@item.ID_Product)" type="text" value="@item.Amount">
                                            </div>
                                            <div class="up-down increment" onclick="alterProductOrder('increment', @item.Product.Amount,@item.ID_Product,@item.ID_Account)">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 id="totalProductItem">
                                            <!--total money to pay product item-->
                                        </h5>
                                    </td>
                                    <td onclick="deleteRecord(@item.ID_Product,@item.ID_Account)"><i class="fas fa-trash-alt"></i></td>
                                </tr>
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Tổng tiền</h5>
                                </td>
                                <td>
                                    <h5 id="totalPay">
                                        <!--total pay-->
                                    </h5>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="">Tiếp tục mua hàng</a>
                        <div class="btn_1 checkout_btn_1" id="btn_pay" onclick="payNow()">Mua hàng</div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<!--modal confirm delete product-->
<!-- Modal -->
<div class="modal fade" id="modalConfirmOder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body " id="modalConfirmOderContent" style="font-size:22px ">
                <!--content-->
            </div>
            <div class="modal-footer mx-auto" style="border:unset">
                <button type="button" id="btn_close" class="btn btn-secondary" data-dismiss="modal">
                    <!--Button Close-->
                </button>
                <button type="button" id="btn_save" onclick="deleteRecordConfirmed()" class="btn btn-primary">
                    <!--Button Save-->
                </button>
            </div>
        </div>
    </div>
</div>

<!--alert message-->
<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>

@section script{
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="~/wwwroot/scriptDefined/cartScript.js"></script>
}

