@model ElectronicDevice.Models.Account
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>ĐĂNG NHẬP</title>

    <!-- Fontfaces CSS-->
    <link href="~/Areas/Admin/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Areas/Admin/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Areas/Admin/Assets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="">
    <div class="page-wrapper">
        <div class="page-content--bge5 page-content-register">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/Areas/Admin/Assets/images/logo-asp.net.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            @if (ViewBag.LoginError != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.LoginError
                                </div>
                            }
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                            {
                                <div class="form-group">

                                    @Html.AntiForgeryToken()

                                    <label>Tài Khoản</label>
                                    @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    <label>Mật Khẩu</label>
                                    @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @placeholder = "Mật khẩu", Type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <br>
                                    <label>

                                        <input type="checkbox" name="remember">Ghi Nhớ Mật Khẩu
                                    </label>
                                    @*<label>
                                            <a href="forget-pass.html">Quên Mật Khẩu?</a>
                                        </label>*@

                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" value="submit">Đăng nhập</button>
                            }
                            <input type="hidden" id="Error" value=" @ViewBag.LoginError" />


                            <div class="alert hide" id="alert_message">
                                <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
                                <span class="msg">Warning: This is a warning alert!</span>
                                <div class="close-btn-alert">
                                    <span class="fas fa-times"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/Areas/Admin/Assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Areas/Admin/Assets/vendor/slick/slick.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Areas/Admin/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Areas/Admin/Assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('.close-btn-alert').click(function () {
                $('.alert').removeClass("show");
                $('.alert').addClass("hide");
            });
        });
        var error = document.getElementById("Error").value;
        if (error != "") {
            showAlertMessage(error, false);
        }
        var success = document.getElementById("Success").value;
        if (success != "") {
            showAlertMessage(success, true);
        }
        function showAlertMessage(message, messageState) {
            if (messageState) {
                $('#alert_message').css({ "background": "#C5F3D7", "border-left": "8px solid #2BD971" });
                $("#icon-alert-message").html('<i class="fas fa-check-circle"></i>');
                $("#icon-alert-message").find('i').css({ "color": "#2BD971" });
                $(".msg").css({ "color": "#24AD5F" });
                $(".close-btn-alert").css({ "background": "#2BD971", "color": "#24AD5F" });
                $(".close-btn-alert").find('.fas').css({ "color": "#24AD5F" });
                $(".close-btn-alert").hover(function (e) {
                    $(this).css("background-color", e.type === "mouseenter" ? "#38F5A3" : "#2BD971")
                })
            } else {
                $('#alert_message').css({ "background": "#FFE1E3", "border-left": "8px solid #FF4456" });
                $("#icon-alert-message").html('<i class="fas fa-exclamation-circle"></i>');
                $("#icon-alert-message").find('i').css({ "color": "#FE4950" });
                $(".msg").css({ "color": "#F694A9" });
                $(".close-btn-alert").css({ "background": "#FF9CA4", "color": "#FD4653" });
                $(".close-btn-alert").find('.fas').css({ "color": "#FD4653" });
                $(".close-btn-alert").hover(function (e) {
                    $(this).css("background-color", e.type === "mouseenter" ? "#FFBDC2" : "#FF9CA4")
                })
            }

            $('.msg').text(message);
            $('.alert').addClass("show");
            $('.alert').removeClass("hide");
            $('.alert').addClass("showAlert");
            setTimeout(function () {
                $('.alert').removeClass("show");
                $('.alert').addClass("hide");
            }, 3000);
        };
    </script>
</body>

</html>
<!-- end document-->
