@model ElectronicDevice.Models.Bill


@using System.Globalization;
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    var id_account = Session["ID"];
}

@{
    ViewBag.Title = "Thanh toán";
    ViewBag.id_account = Session["ID"];
    var cart = ViewBag.cart as ElectronicDevice.Models.Cart;
    var listCart = ViewBag.listCart as List<ElectronicDevice.Models.Cart>;
    //var listCartBuy = new List<ElectronicDevice.Models.Cart>();
    var status = "";
    status = ViewBag.status;
    var totalMoney = 0.0;
    if (listCart != null)
    {
        foreach (var item in listCart)
        {
            totalMoney += (Double)item.Product.Price * item.Amount;
        }
    }
    //else
    //{
    //    listCartBuy.Add(cart);
    //}
}


<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Đặt hàng</h2>
                        <p>Trang chủ <span>></span> Đặt hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/buy.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<div class="container mt-3 bg-white p-4">
    <div class="row">
        <div class="col-md-8">
            <h3>Thông tin người nhận</h3>
            <br>
            @if (status == "BuyNow")
            {
                var listCartStr = cart.ID_Product + "&" + cart.ID_Account + ";";
                using (Html.BeginForm("Index", "Bill", new { listCart = listCartStr }, FormMethod.Post))
                {
                    <div class="form-group row">
                        <label for="fullname" class="col-md-3">Họ tên người nhận</label>
                        @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = @cart.Account.FullName.Trim(), @id = "ReceiverName" } })
                        @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverNameMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-3">Email</label>
                        @Html.EditorFor(model => model.ReceiverEmail, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = @cart.Account.Email.Trim(), @id = "ReceiverEmail" } })
                        @Html.ValidationMessageFor(model => model.ReceiverEmail, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverEmailMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-md-3">Số điện thoại</label>
                        @Html.EditorFor(model => model.ReceiverPhone, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = @cart.Account.Phone.Trim(), @id = "ReceiverPhone" } })
                        @Html.ValidationMessageFor(model => model.ReceiverPhone, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverPhoneMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-md-3">Địa chỉ</label>
                        @Html.EditorFor(model => model.ReceiverAddress, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = @cart.Account.Address.Trim(), @id = "ReceiverAddress" } })
                        @Html.ValidationMessageFor(model => model.ReceiverAddress, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverAddressMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="note" class="col-md-3">Ghi chú</label>
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = "Ghi chú" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger col-md-9" })
                    </div>
                    <hr>
                    <h3>Hình thức thanh toán</h3>
                    <lable> @Html.RadioButtonFor(m => m.PayType, "Thanh toán khi nhận hàng", new { @checked = true }) Thanh toán khi nhận hàng</lable>
                    <br />
                    <label>@Html.RadioButtonFor(m => m.PayType, "Thanh toán online qua thẻ ngân hàng") Thanh toán online qua thẻ ngân hàng</label>

                    @Html.ValidationMessageFor(model => model.PayType, "", new { @class = "text-danger col-md-9" })
                    <hr>
                    <h3 id="totalPay">Tổng tiền phải trả:   <span style="color: #ff3368">@String.Format(cul, "{0:N0}", cart.Product.Price * cart.Amount) VND </span></h3>
                    <hr>
                    <div class="form-group">
                        <button type="submit" id="btn_submit" value="submit" class="genric-btn danger circle">ĐẶT MUA</button>
                    </div>
                }
            }

            @if (status == "BuyFromCart")
            {
                var listCartStr = "";
                foreach (var item in listCart)
                {
                    listCartStr += item.ID_Product + "&" + item.ID_Account + ";";
                }
                using (Html.BeginForm("Index", "Bill", new { listCart = listCartStr }, FormMethod.Post))
                {
                    <div class="form-group row">
                        <label for="fullname" class="col-md-3">Họ tên người nhận</label>
                        @Html.EditorFor(model => model.ReceiverName, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = listCart.FirstOrDefault().Account.FullName.Trim(), @id = "ReceiverName" } })
                        @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverNameMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-3">Email</label>
                        @Html.EditorFor(model => model.ReceiverEmail, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = listCart.FirstOrDefault().Account.Email.Trim(), @id = "ReceiverEmail" } })
                        @Html.ValidationMessageFor(model => model.ReceiverEmail, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverEmailMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-md-3">Số điện thoại</label>
                        @Html.EditorFor(model => model.ReceiverPhone, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = listCart.FirstOrDefault().Account.Phone.Trim(), @id = "ReceiverPhone" } })
                        @Html.ValidationMessageFor(model => model.ReceiverPhone, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverPhoneMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-md-3">Địa chỉ</label>
                        @Html.EditorFor(model => model.ReceiverAddress, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = listCart.FirstOrDefault().Account.Address.Trim(), @id = "ReceiverAddress" } })
                        @Html.ValidationMessageFor(model => model.ReceiverAddress, "", new { @class = "text-danger col-md-9" })
                        <label class="text-danger message_error" style="display:none;width:100%" id="ReceiverAddressMessage">
                            <label for="message-content" class="col-md-3"></label>
                            <span class="col-md-9 message-content"></span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="note" class="col-md-3">Ghi chú</label>
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control col-md-9", @Value = "Ghi chú" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger col-md-9" })
                    </div>
                    <hr>
                    <h3>Hình thức thanh toán</h3>
                    <lable> @Html.RadioButtonFor(m => m.PayType, "Thanh toán khi nhận hàng", new { @checked = true }) Thanh toán khi nhận hàng</lable>
                    <br />
                    <label>@Html.RadioButtonFor(m => m.PayType, "Thanh toán online qua thẻ ngân hàng") Thanh toán online qua thẻ ngân hàng</label>

                    @Html.ValidationMessageFor(model => model.PayType, "", new { @class = "text-danger col-md-9" })
                    <hr>
                    <h3 id="totalPay">Tổng tiền phải trả:   <span style="color: #ff3368">@String.Format(cul, "{0:N0}", totalMoney) VND </span></h3>
                    <hr>
                    <div class="form-group">
                        <button type="submit" id="btn_submit" value="submit" class="genric-btn danger circle">ĐẶT MUA</button>
                    </div>
                }
            }

        </div>
        <div class="col-md-4">
            <h3>Chi tiết sản phẩm</h3>
            <br>
            @if (status == "BuyNow")
            {
                <div class="d-flex flex-row">
                    <img src="@Url.Content("~/wwwroot/imageUpload/"+cart.Product.Image)" alt="" width="100" height="100">
                    <div class="ml-2">
                        <h5>@cart.Product.Name</h5>
                        <p>Giá: <span style="color: #ff3368">@String.Format(cul, "{0:N0}", @cart.Product.Price) VND </span></p>
                        <p>Số lượng: <span style="color: #ff3368">@cart.Amount cái</span></p>
                    </div>

                </div>
                <hr />
            }
            @if (status == "BuyFromCart")
            {
                foreach (var item in listCart)
                {
                    <div class="d-flex flex-row">
                        <img src="@Url.Content("~/wwwroot/imageUpload/"+item.Product.Image)" alt="" width="100" height="100">
                        <div class="ml-2">
                            <h5>@item.Product.Name</h5>
                            <p>Giá: <span style="color: #ff3368">@String.Format(cul, "{0:N0}", @item.Product.Price) VND </span></p>
                            <p>Số lượng: <span style="color: #ff3368">@item.Amount cái</span></p>
                        </div>

                    </div>
                    <hr>
                }
            }
        </div>

    </div>
</div>


<!--alert message-->
<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.message' != "") {
                showAlertMessage("Đặt hàng thất bại!", false);
            }
        });
    </script>
    <script src="~/wwwroot/scriptDefined/buyScript.js"></script>
}
