@model ElectronicDevice.Models.Account
@{
    ViewBag.Title = "Đăng nhập";
    var statusRequest = ViewBag.statusRequest;
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Chào mừng bạn trở lại!</h2>
                        <p>Trang chủ <span>></span> Đăng nhập</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/login.png" width="240" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================login_part Area =================-->
<section class="login_part mt-3">
    <div class="container p-4 bg-white">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Bạn mới đến với cửa hàng của chúng tôi?</h2>
                        <p>Tạo một tài khoản để tham gia mua sắm được dễ dàng và thuận tiện hơn!</p>
                        <a href="@Url.Action("Register", "Account")" class="btn_3">Tạo một tài khoản</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        @if (ViewBag.LoginError != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.LoginError
                            </div>
                        }
                        <h3>Đăng nhập</h3>
                        @if (!String.IsNullOrEmpty(statusRequest))
                        {
                            <p style="color: #007bff; font-weight:bold;margin-bottom: 16px">Vui lòng đăng nhập để truy cập vào giỏ hàng!</p>
                        }
                        @using (Html.BeginForm("Login", "Login", new { statusRequest = statusRequest }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();

                            <div class="col-md-12 form-group p_star">
                                @*@Html.LabelFor(m => m.UserName)*@
                                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group p_star">
                                @*@Html.LabelFor(m => m.Password)*@
                                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @placeholder = "Mật khẩu", Type = "password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Nhớ mật khẩu</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">
                                    Đăng nhập
                                </button>
                                <a class="lost_pass" href="@Url.Action("ForgetPass","Login")">Quên mật khẩu?</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="Error" value=" @ViewBag.LoginError" />
<input type="hidden" id="Success" value="@TempData["RegisterOk"]" />

<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>

<!--================login_part end =================-->
<script>
    $(document).ready(function () {
        $('.close-btn-alert').click(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
        });
    });
    var error = document.getElementById("Error").value;
    if (error != "") {
        showAlertMessage(error, false);
    }
    var success = document.getElementById("Success").value;
    if (success != "") {
        showAlertMessage(success, true);
    }
    function showAlertMessage(message, messageState) {
        if (messageState) {
            $('#alert_message').css({ "background": "#C5F3D7", "border-left": "8px solid #2BD971" });
            $("#icon-alert-message").html('<i class="fas fa-check-circle"></i>');
            $("#icon-alert-message").find('i').css({ "color": "#2BD971" });
            $(".msg").css({ "color": "#24AD5F" });
            $(".close-btn-alert").css({ "background": "#2BD971", "color": "#24AD5F" });
            $(".close-btn-alert").find('.fas').css({ "color": "#24AD5F" });
            $(".close-btn-alert").hover(function (e) {
                $(this).css("background-color", e.type === "mouseenter" ? "#38F5A3" : "#2BD971")
            })
        } else {
            $('#alert_message').css({ "background": "#FFE1E3", "border-left": "8px solid #FF4456" });
            $("#icon-alert-message").html('<i class="fas fa-exclamation-circle"></i>');
            $("#icon-alert-message").find('i').css({ "color": "#FE4950" });
            $(".msg").css({ "color": "#F694A9" });
            $(".close-btn-alert").css({ "background": "#FF9CA4", "color": "#FD4653" });
            $(".close-btn-alert").find('.fas').css({ "color": "#FD4653" });
            $(".close-btn-alert").hover(function (e) {
                $(this).css("background-color", e.type === "mouseenter" ? "#FFBDC2" : "#FF9CA4")
            })
        }

        $('.msg').text(message);
        $('.alert').addClass("show");
        $('.alert').removeClass("hide");
        $('.alert').addClass("showAlert");
        setTimeout(function () {
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
        }, 3000);
    };
</script>
