@model ElectronicDevice.Models.Account
@{
    ViewBag.Title = "Đăng nhập";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Chào mừng bạn trở lại!</h2>
                        <p>Trang chủ <span>></span> Đăng nhập</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/login.png" width="240" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================login_part Area =================-->
<section class="login_part mt-3">
    <div class="container p-4 bg-white">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Bạn mới đến với cửa hàng của chúng tôi?</h2>
                        <p>Tạo một tài khoản để tham gia mua sắm được dễ dàng và thuận tiện hơn!</p>
                        <a href="@Url.Action("Register", "Account")" class="btn_3">Tạo một tài khoản</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        @if (ViewBag.LoginError != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.LoginError
                            </div>
                        }
                        <h3>Đăng nhập</h3>
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="col-md-12 form-group p_star">
                                @*@Html.LabelFor(m => m.UserName)*@
                                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group p_star">
                                @*@Html.LabelFor(m => m.Password)*@
                                @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @placeholder = "Mật khẩu", Type = "password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Nhớ mật khẩu</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">
                                    Đăng nhập
                                </button>
                                <a class="lost_pass" href="@Url.Action("ForgetPass","Login")">Quên mật khẩu?</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
@if (TempData["Success"] != null)
{
<script>
        alert('@Html.Raw(@TempData["Success"])');
</script>
}