@model IEnumerable<ElectronicDevice.Models.Account>
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 class="title-5 m-b-35">Tài khoản của tôi</h3>
<div class="row p-2">
    <div class="col-md-4 bg-white p-4 border-right">
        <aside class="profile-nav alt ">
            <section class="">
                <div class=" user-header alt">
                    <div class="" style="align-items:center;">
                        <div style="text-align:center; ">
                            <img class="align-self-center rounded-circle mr-3 border"
                                 style="width:150px; height:150px;" alt=""
                                 src="@Url.Content("~/wwwroot/imageUpload/"+@Model.First().Avatar)">
                        </div>
                        <div style="text-align:center; ">
                            <h2 class="text-dark display-6">@Model.First().UserName</h2>

                            @if ((bool)Model.First().IsManager)
                            {
                                <p>Quản lý</p>
                            }
                            else
                            {
                                <p>Nhân viên</p>
                            }

                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    <div class="col-md-8 bg-white  p-4">
        <div class=" p-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active"
                       href="#inforuser" data-toggle="tab">Thông tin tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#update-infor" data-toggle="tab">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#change-password" data-toggle="tab">Mật khẩu</a>
                </li>
            </ul>
        </div>
        <!-- /.card-header -->

        <div class="">
            <div class="tab-content">
                <!-- Thông tin tài khoản -->
                <div class="active tab-pane" id="inforuser">
                    <table class="table text-info">
                        <tr>
                            <td>
                                <i class="fas fa-info mr-2 "></i>
                            </td>
                            <td>
                                Họ tên
                            </td>
                            <td>
                                @Model.First().FullName.Trim()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fas fa-mobile-alt mr-2"></i>
                            </td>
                            <td>
                                Số điện thoại
                            </td>
                            <td>
                                @Model.First().Phone.Trim()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fas fa-map-marker-alt mr-2"></i>
                            </td>
                            <td>
                                Địa chỉ
                            </td>
                            <td>
                                @Model.First().Address.Trim()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fas fa-envelope-open-text mr-2"></i>
                            </td>
                            <td>
                                Email
                            </td>
                            <td>
                                @Model.First().Email.Trim()
                            </td>
                        </tr>
                    </table>

                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="update-infor">
                    @using (Html.BeginForm("UpdateInfoAccount", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @* <form class="form-horizontal" action="" method="post">*@
                        <div class="mt-2"></div>

                        <div class="form-group row">
                            <div class="col-md-12">

                                <div class="d-flex justify-content-center">

                                    @if (Model.First().Avatar != null)
                                    {
                                        <img id="output" src="@Url.Content("~/wwwroot/imageUpload/" + @Model.First().Avatar)"
                                             alt="Ảnh" class="rounded-circle border"
                                             style="width:100px !important; height:100px !important">
                                    }
                                    @if (Model.First().Avatar == null)
                                    {
                                        <img id="output" src="http://m.myclip.vn/images/avatar.gif" alt="Ảnh" class="rounded-circle border"
                                             style="width:100px !important; height:100px !important">
                                    }
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input hidden type="file" name="ImageFile" id="ufile" onchange="loadFile(event)">
                                    <label for="ufile" class="label bg-light border p-2 m-3">Chọn ảnh</label>
                                </div>
                            </div>

                            <input hidden value="@Model.First().Avatar" name="Avatar" id="Avatar" />

                        </div>
                        <input class="au-input au-input--full"
                               type="text" name="UserName" placeholder="Tên đăng nhập"
                               value="@Model.First().UserName" hidden>

                        <div class="form-group">
                            <label>Họ & Tên</label>
                            @*<input class="au-input au-input--full"
                                type="text" name="fullname" placeholder="Họ tên"
                                value="@Model.First().FullName.Trim()">*@
                            @Html.EditorFor(model => model.First().FullName, new { htmlAttributes = new { @class = "au-input au-input--full", @placeholder = "Họ tên" } })
                            @Html.ValidationMessageFor(model => model.First().FullName, "", new { @class = "text-danger" })
                            <span class="text-danger hide" id="error_full_name"></span>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            @*<input class="au-input au-input--full"
                                type="text" name="address" placeholder="Địa chỉ"
                                value="@Model.First().Address.Trim()">*@
                            @Html.EditorFor(model => model.First().Address, new { htmlAttributes = new { @class = "au-input au-input--full", @placeholder = "Địa chỉ" } })
                            @*@Html.ValidationMessageFor(model => model.First().Address, "", new { @class = "text-danger" })*@
                            <span class="text-danger hide" id="error_address"></span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            @*<input class="au-input au-input--full"
                                type="text" name="email" placeholder="Email"
                                value="@Model.First().Email.Trim()">*@
                            @Html.EditorFor(model => model.First().Email, new { htmlAttributes = new { @class = "au-input au-input--full", @placeholder = "Email" } })
                            @*@Html.ValidationMessageFor(model => model.First().Email, "", new { @class = "text-danger" })*@
                            <span class="text-danger hide" id="error_email"></span>
                        </div>
                        <div class="form-group">
                            <label>Số Điện Thoại</label>
                            <input id="Phone" name="Phone" value="@Model.First().Phone.Trim()" class="au-input au-input--full" placeholder="Số điện thoại" />
                            @* @Html.EditorFor(model => model.First().Phone, new { htmlAttributes = new { @class = "au-input au-input--full", @placeholder = "Địa chỉ" } })*@
                            @*@Html.ValidationMessageFor(model => model.First().Phone, "", new { @class = "text-danger" })*@
                            <span class="text-danger hide" id="error_phone"></span>
                        </div>
                        <input hidden id="Pasword" name="Password" value="@Model.First().Password" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary" onclick="clickUpdateInfo()">
                                <i class="ace-icon fa fa-check bigger-110"></i> Cập Nhật
                            </button>
                            <button type="reset" class="btn btn-outline-secondary">
                                <i class="ace-icon fa fa-undo bigger-110"></i> Đặt lại
                            </button>
                        </div>
                        @*</form>*@
                    }
                </div>
                <!-- /.tab-pane -->
                <!-- Cập nhật mật khẩu -->
                <div class="tab-pane" id="change-password">
                    @using (Html.BeginForm("", "Account", FormMethod.Post))
                    {
                        <div class="space-10"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="oldPassword">Mật khẩu cũ</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control" type="password" id="OldPassword" name="OldPassword" />
                                </div>
                                <span id="error_old_password" class="text-danger hide"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="password">Mật khẩu mới</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control" type="password" id="NewPassword" name="NewPassword" />

                                </div>
                                <span id="error_new_password" class="text-danger hide"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="confirmPassword">Nhập lại mật khẩu</label>

                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control" type="password"
                                           id="ConfirmPassword" name="ConfirmPassword" />
                                </div>
                                <span class="hide text-danger" id="error_confirm_password"></span>
                            </div>
                        </div>


                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-outline-primary" type="submit" onclick="clickChangePassword(@Model.First().ID_Account)">
                                    <i class="ace-icon fa fa-check bigger-110"></i> Cập nhật
                                </button>
                                &nbsp; &nbsp;
                                <button class="btn btn-outline-secondary" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i> Đặt lại
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</div>

<br />

@if (Model.First().IsManager == true)
{
    <hr />

    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <h3 class="title-5 m-b-35">danh sách nhân viên</h3>
        </div>
        <div class="table-data__tool-right">
            <a class="au-btn au-btn-icon au-btn--green au-btn--small" href="@Url.Action("CreateEmployee","Account")">
                <i class="fas fa-plus"></i>Thêm mới
            </a>
            <a class="btn btn-danger text-light" href="@Url.Action("Trash","Account")">
                <i class="fas fa-trash-alt"></i> Thùng rác
            </a>
        </div>
    </div>
    <div class="table-responsive table-data">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th>Tên đăng nhập</th>
                    <th>Ảnh</th>
                    <th>họ tên</th>
                    <th>Điện thoại</th>
                    <th>email</th>
                    <th>Địa chỉ</th>
                    <th>Trạng thái</th>
                    <th>hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (!item.UserName.Equals(Session["UserName"]))
                    {
                        <tr class="tr-shadow" id="@item.ID_Account">
                            <td>
                                <span class="block-name">@item.UserName</span>
                            </td>
                            <td class="block-image">
                                <img src="@Url.Content("~/wwwroot/imageUpload/"+item.Avatar)" width="100" height="100" />
                                @* <img src="~/Areas/Admin/Assets/images/avatar/avatar-01.png" alt="Ảnh đại diện" />*@
                            </td>
                            <td>
                                <span class="block-fullname">@item.FullName</span>
                            </td>
                            <td>
                                <span>@item.Phone</span>
                            </td>
                            <td><span>@item.Email</span></td>
                            <td><span>@item.Address</span></td>
                            <td><span class="text-success">Hoạt động</span></td>
                            <td>
                                <div class="table-data-feature">
                                    <a class="item" title="Vô hiêu hóa nhân viên" onclick="clickMoveEmployeeToTrash(@item.ID_Account)">
                                        <i class="fas fa-lock"></i>
                                    </a>
                                    <a class="item" title="Sửa thông tin nhân viên" href="@Url.Action("EditEmployee","Account",new { id = item.ID_Account })">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                }
            </tbody>
        </table>

    </div>

}

<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>



@section Script{

    <script src="~/Areas/Admin/Assets/js/manage-account.js"></script>
    @if (ViewBag.Error != null)
    {
        <script>
            showAlertMessage("Cập nhật thất bại !", false);
        </script>
    }
    @if (ViewBag.Success != null)
    {
        <script>
            showAlertMessage("Cập nhật thành công !", true);
        </script>
    }
}
